<clr-modal [clrModalOpen]="true" [clrModalStaticBackdrop]="true" [clrModalClosable]="false">
  <h3 class="modal-title">Book {{courtTimeToBook.court.name}}</h3>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="start" class="required">Time start</label>
        <input id="start"
               type="time"
               formControlName="start"
               useValueAsDate>
      </div>

      <div class="form-group">
        <label for="end" class="required">Time end</label>
        <input id="end"
               type="time"
               formControlName="end"
               useValueAsDate>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline cancel-button"
            (click)="cancel()">
      Cancel
    </button>
    <button type="submit"
            class="btn btn-primary ok-button"
            [disabled]="form.invalid"
            (click)="submit()">
      OK
    </button>
  </div>
</clr-modal>
