<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="event"></clr-icon>
        <span class="title">Court Booking App</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link"><span class="nav-text">Courts Schedule</span></a>
      <a class="nav-link"><span class="nav-text">My Bookings</span></a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <app-court-schedule></app-court-schedule>

    </div>
  </div>
</div>
