<div class="card">
  <div class="card-block">
    <div class="card-media-block">
      <clr-icon shape="flag" class="card-media-image"></clr-icon>
      <div class="card-media-description">
        <span class="card-media-title">
          {{booking.courtName}}
        </span>
        <span class="card-media-text">
          Date: {{booking.start | date:'fullDate'}}
        </span>
        <span class="card-media-text">
          Time: {{booking.start | date:'shortTime'}} - {{booking.end | date:'shortTime'}}
        </span>
        <span class="card-media-text">
          Status: {{booking.status.toLowerCase()}}
        </span>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link"
            (click)="confirm()"
            [disabled]="booking.status === 'CONFIRMED'">
      Confirm
    </button>
    <button class="btn btn-sm btn-link"
            (click)="cancel()"
            [disabled]="booking.status === 'CANCELLED'">
      Cancel
    </button>
  </div>
</div>
