<h2>
  Courts Availability
</h2>

<div class="row date-selector">
  <div class="col-xs-2 left-button">
    <button type="button" class="btn btn-icon" (click)="viewPreviousDate()">
      <clr-icon shape="arrow" dir="left"></clr-icon>
    </button>
  </div>
  <div class="col-xs">
    {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
  </div>
  <div class="col-xs-2 right-button">
    <button type="button" class="btn btn-icon" (click)="viewNextDate()">
      <clr-icon shape="arrow" dir="right"></clr-icon>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-xs" *ngFor="let schedule of courtSchedules">
    <app-court-schedule [schedule]="schedule"
                        (availableTimeClicked)="openBookCourtModal($event)"></app-court-schedule>
  </div>
</div>

<app-book-court-modal [courtTimeToBook]="courtTimeToBook"
                      (modalClosed)="closeBookCourtModal()"
                      *ngIf="isBookCourtModalOpened"></app-book-court-modal>
